*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding: 5PX;
}
nav a{
    text-decoration: none;
    margin-left: 50px;
    margin: 5px;
}
header{
    background-color: hotpink;
    height: 30px;

}
#second{
    
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
#container{
    border: 3px solid;
    margin: 5px;
}
#box4{
    position: fixed;
    right: 10px;
}
#box2{
    z-index: 2;
    position: absolute;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: aquamarine;
}