.progress-container{
    width: 90%;
    height: 25px;
    background-color: darkorchid;
     border: 2px solid black;
     border-radius: 20px;
     position: relative;
     left: 4%;
}
.progress-bar{
     background-color: cyan;
     height: 100%;
     border-radius: 20px;
     border: 20px;
     animation: progress 3s;
}
@keyframes progress {
    0%{width: 0%;}
    90%{width: 95%;}
    95%{width: 70%;}
    100%{width: 100%;}
    
}